.container {
    background-color: rgb(157, 214, 216);
    display: flex;
}

.container div {
    background-color: grey;
    height: 50px;
}

#container1 {
    padding: 10px;
    column-gap: 10px;
}

#container1 div {
    flex-grow: 1;
}

#container2 {
    padding: 15px;
    column-gap: 15px;
}

#container2 div {
    flex-grow: 1;
}

#container3 {
    padding: 12px;
    column-gap: 12px;
}

.item-1 {
    flex-grow: 2;
    border: 2px solid black;
}

#container3 div {
    flex-grow: 1;
    border: 2px solid black;
}

#container4 {
    padding: 12px;
    column-gap: 12px;
}

#container4 div {
    flex-grow: 1;
    border: 2px solid black;
}

#container5 {
    padding: 0px 12px 12px 12px;
}

#container5 div {
    flex-grow: 1;
    border: 2px solid black;
}